@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", Arial, sans-serif;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid red;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px white;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.card__header {
  height: 180px;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.card__img {
  height: 170px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__body {
  padding: 1rem;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.card__title {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid red;
  color: white;
  background-color: black;
}
.card__description {
  padding: 1.5rem 0 2rem;
  color: white;
  flex-grow: 1;
}
.card__price {
  font-weight: 500;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  padding: 10px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__date {
  color: white;
  margin: 10px;
}
.card__btn {
  padding: 1rem 1rem;
  margin: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px white;
  transition: 500ms;
}
.card__btn:hover {
  background-color: black;
  color: white;
  font-size: 20px;
}

.card:hover {
  transform: translateY(-3%);
}

@media screen and (min-width: 600px) {
  .card {
    height: 800px;
  }
}
.btn-wsp {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 25px;
  line-height: 20px;
  bottom: 20px;
  background: #0acf49;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  margin: 5px;
  box-shadow: 0px 1px 10px rgba(245, 4, 4, 0.3);
  z-index: 100;
  animation: efecto 1.2s infinite;
}

.icon-whatsapp {
  margin-top: 13px;
  transition: 0.3s;
}

.btn-wsp:hover {
  color: #0df053;
  background: #fff;
  transform: scale(1.1);
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(11, 11, 11, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(115, 113, 113, 0.315);
  }
}
.footer {
  background-color: rgba(60, 60, 60, 0.198);
  display: flex;
  align-items: center;
  text-align: center;
}
.footer__column {
  padding: 1rem;
  margin: auto;
}
.footer__logo {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px white;
}
.footer__company-name {
  color: white;
  font-size: 25px;
}
.footer__copyrigth {
  color: white;
  margin: 10px;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__contact-icon--twitter {
  color: rgb(29, 155, 240);
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__column:nth-child(2) {
    border-top: none;
    border-bottom: none;
    border-left: 0.01rem solid white;
    border-right: 0.01rem solid white;
    padding: 0 3rem;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: solid 3px red;
}
.navbar__logo {
  height: 45px;
  margin: 5px;
  color: black;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
  flex: 2;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  background-color: black;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  flex: 2;
  top: 60px;
  background-color: rgba(63, 62, 62, 0.266);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: red;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(87, 85, 85);
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
}
.navbar__nav-item {
  padding: 1.25rem 0.5rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: none;
}
.navbar__nav-item:hover {
  transition: background 0.5s ease-in-out;
}
.navbar__nav-link:not(:has(img)) {
  padding: 0.1rem 0.5rem;
  border-left: 0.2rem solid red;
  border-right: 0.2rem solid red;
  border-bottom: transparent;
}
.navbar__nav-link:not(:has(img)):hover {
  color: red;
  transition: border 0.5s ease;
  border-left: 0.2rem solid red;
  border-right: 0.2rem solid red;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 40px;
}
.user-navbar__cart-icon-container {
  color: white;
  font-size: 1.5rem;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .navbar {
    position: static;
    height: 60px;
  }
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100%;
    width: auto;
    background-color: transparent;
  }
  .navbar__nav-item {
    padding: 1.25rem 0.75rem;
  }
  .navbar__nav-item:not(:last-child) {
    border-bottom: none;
  }
  .navbar__nav-item:hover {
    background: linear-gradient(180deg, black 0%, rgb(64, 64, 64) 100%);
    transition: background 0.5s ease-in-out;
  }
  .navbar__nav-link:not(:has(img)) {
    padding: 0.25rem 1rem;
    border-left: 0.2rem solid gray;
    border-right: 0.2rem solid gray;
    border-bottom: transparent;
  }
  .navbar__nav-link:not(:has(img)):hover {
    color: red;
    transition: border 0.5s ease;
    border-left: 0.2rem solid red;
    border-right: 0.2rem solid red;
  }
  .user-navbar {
    order: 3;
  }
  .user-navbar__cart-icon-container:hover {
    transition: color 1s ease;
    color: red;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    position: static;
    height: 60px;
  }
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100%;
    width: auto;
    background-color: transparent;
  }
  .navbar__nav-item {
    padding: 1.25rem 0.75rem;
  }
  .navbar__nav-item:not(:last-child) {
    border-bottom: none;
  }
  .navbar__nav-item:hover {
    transition: background 0.5s ease-in-out;
  }
  .navbar__nav-link:not(:has(img)) {
    padding: 0.25rem 1rem;
    border-left: 0.2rem solid gray;
    border-right: 0.2rem solid gray;
    border-bottom: transparent;
  }
  .navbar__nav-link:not(:has(img)):hover {
    color: red;
    transition: border 0.5s ease;
    border-left: 0.2rem solid red;
    border-right: 0.2rem solid red;
  }
  .user-navbar {
    order: 3;
  }
  .user-navbar__cart-icon-container:hover {
    transition: color 1s ease;
    color: red;
  }
}
.main {
  flex-grow: 1;
  margin-top: 50px;
  padding: 1.5rem 0;
  background-color: black;
  color: white;
}

.contenido {
  background-image: url(/assets/images/Razer\ portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  min-width: 320px;
  position: relative;
  display: flex;
  margin: auto;
}

.logo_r {
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 90px;
  box-shadow: 0px 0px 20px 0px white;
}

.contenido::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.608);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 4400px;
  max-width: 1000px;
  min-width: 200px;
}

.slider .slide {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-2200px);
  }
}
.mainContainer {
  padding: 12.5rem;
}
.mainContainer__container {
  margin: 10px;
}
.mainContainer__parrafo {
  z-index: 1;
  border: solid 1px white;
  height: 440px;
  padding: 5rem;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  box-shadow: 1px 5px 25px;
  border-radius: 5px;
}
.mainContainer__img {
  width: 250px;
  border-radius: 50%;
  float: left;
}
.mainContainer__title {
  color: red;
  text-align: center;
  text-decoration: underline;
}
.mainContainer__title1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 905px) {
  .mainContainer__container {
    display: flex;
    flex-direction: column;
  }
  .mainContainer__img {
    display: flex;
    width: 200px;
    height: 200px;
  }
  .mainContainer__img__parrafo {
    width: 0px;
    flex-grow: 1;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.5;
    transition: 0.5 ease;
  }
  .mainContainer__img__parrafo:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
}
.contact-container {
  display: flex;
  flex-direction: row-reverse;
  background: black;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0px 0px 20px 0px white;
}
.contact-container__item {
  margin-top: 40px;
  width: 90%;
  box-shadow: black;
}
.contact-container__item:last-child {
  margin-bottom: 50px;
}
.contact-container__item:hover {
  text-shadow: white;
}
.contact-container .contact-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 1rem;
}

.form-contact {
  padding: 1.5rem;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
}
.form-contact__container {
  width: 100%;
  color: red;
}

.contact-btn {
  margin-top: 0.5rem;
  height: 35px;
  width: 60px;
  background-color: red;
  border-color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px white;
  color: white;
}
.contact-btn:hover {
  background-color: black;
  border-color: rgb(255, 255, 255);
  color: red;
}

.consult-container__text-area {
  width: 100%;
}

.input-map {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 600px) {
  .contact-container {
    border: 2px solid red;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 50px 0;
    margin: 3rem 1rem;
  }
  .contact-container__item {
    border: 3px solid white;
    margin: 0 2rem;
  }
  .contact-container__item:nth-child(2) {
    margin-bottom: 0px;
  }
}
.section-cards__header {
  text-transform: uppercase;
  text-align: center;
}
.section-cards__title {
  color: #444;
  font-size: 3rem;
  font-weight: 400;
  color: red;
  font-family: "Skranji", "Inter", Arial, sans-serif;
}
.section-cards__subtitle {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.section-cards__loro_r {
  color: red;
}
.section-cards__products-search-container {
  border-radius: 10px;
  border: 1px solid rgb(4, 0, 9);
  padding: 0.5rem;
  background-color: #4b4b4b;
  width: 100%;
  margin: auto;
  color: white;
}
.section-cards__category {
  margin: 0.75rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid red;
}
.section-cards .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.product-search__input {
  padding: 0.5rem;
  border-radius: 10px;
  height: 35px;
  width: 25rem;
}
.product-search__btn {
  height: 35px;
  width: 60px;
  background-color: red;
  border-radius: 5px;
  box-shadow: none;
  color: white;
  text-shadow: white;
  box-shadow: 0px 0px 20px 0px white;
}
.product-search__btn:hover {
  background-color: red;
  border-color: rgb(255, 255, 255);
  color: black;
}

@media screen and (min-width: 600px) {
  .section-cards__title-container {
    margin: 0 1rem;
  }
  .section-cards__title {
    font-size: 3.5rem;
  }
  .section-cards__products-search-container {
    font-size: 0.9rem;
    font-weight: bold;
    width: 90%;
    height: 4rem;
  }
  .section-cards .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media screen and (min-width: 1000px) {
  .section-cards__header {
    margin: 0 1rem;
  }
  .section-cards__title-container {
    width: 90%;
    margin: auto;
  }
  .section-cards__title {
    font-size: 5rem;
  }
  .section-cards__subtitle {
    margin-top: 0.5rem;
  }
  .section-cards .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .product-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .product-search__input {
    width: 80%;
  }
}
.title {
  color: red;
  text-align: center;
  padding: 20px;
  margin-top: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.section {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.form-register {
  width: 350px;
  background: #222222;
  padding: 30px;
  margin-top: 50px;
  color: white;
  box-shadow: 0px 5px 20px 7px white;
}

input, textarea, select {
  padding: 10px;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 5px;
  outline: none;
  width: 95%;
}

::-webkit-input-placeholder {
  color: black;
}

.formulary__genre-div {
  width: 300px;
  margin-left: 0px;
  display: flex;
}

.formulary-conditions__input {
  width: 10%;
  margin-top: 15px;
}

.btn {
  background-color: red;
  padding: 10px;
  border: none;
  margin: 20px 15px 20px 10px;
  box-shadow: 0px 0px 20px 0px white;
  border-radius: 6px;
  color: white;
}

.btn:hover {
  background-color: rgb(184, 9, 9);
  border-radius: 6px;
  color: white;
}

@media only screen and (min-width: 768px) {
  /* para desktop */
  .form-register {
    width: 500px;
  }
  .btn {
    margin-left: 15px;
  }
}