.section-cards {
    &__category {
        color: white;
        padding: 50px;
        font-size: 3rem;
    }
 }

.cards-container {
    display: grid;
    box-shadow: 0 12px 16px rgba (0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


@media screen and (min-width: 600px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    }
}

@media screen and (min-width: 1200px) {
    .section-cards {
        &__header {
            display: flex;
        }
        &__img {
            width: 30%;
        }
    }
    .cards-container {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 6fr));
    }
} 