.main {
    flex-grow: 1;
    margin-top: 50px;
    padding: 1.5rem 0;
    background-color: black;
    color:white;
}


.contenido {
    background-image: url(/assets/images/Razer\ portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    max-width: 1200px;
    min-width: 320px;
    position: relative;
    display: flex;
    margin: auto;
}

.logo_r {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 90px;
    padding: 2px;
    margin: 15px;
    box-shadow: 0px 0px 20px 0px white;
}

.contenido::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.608);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .4;

}

// Coursel
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow:hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px *22);
    max-width: 1000px;
    min-width: 200px;
}

.slider .slide {
    width: 100%
}

@keyframes scroll {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translatex(calc(-200px *11));;
        transform: translatex(calc(-200px *11));

    }
}
